/*Styling for the entire page*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #f8ebe6;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  float: left;
}
/* Jumbotron styling */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 4px solid rgb(61, 61, 61);
  font-family: 'Quicksand', sans-serif;
  background-image: url("assets/ocean-bg.jpg");
  background-size: 100% 100%;
  margin-bottom: 1rem;
  padding: 2rem 2rem;
}

#currentDay{
  font-weight: bold;
  letter-spacing: 2px;
}

.clearBtn {
  background-color: #517597;
  color: #d4d4d4;
  border-radius: 4px;
  border: 1px solid #748492;
  font-size: 16px;
  padding: 8px;
  font-weight: bolder;
  opacity: 0.8;
}

.clearBtn:hover {
  opacity: 0.5;
  transition: all .6s;
}

/* Main Content Styling */
.time-block{
  border-radius: 15px;
}

.hour {
  color: #000000;
  border-top: 1px dashed #000000;
  text-align: right;
  float: left;
  overflow: hidden;
  white-space: nowrap;
}

.past {
  background-color: #e7e3d5;
  color: #91b1bb;
}

.present {
  background-color: #F4D2BC;
  color: #5a5a5a;
  font-weight: bold;
}

.future {
  background-color: #d7dfae;
  color: rgb(88, 88, 88);
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #a7c3B5;
  color: white;
  float: left;
  height: 53px;
  background-image: url("assets/water-save.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Quicksand', sans-serif;
  
}

.saveBtn:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
  background-color: #73857c;
}


